[user]
	name = Kazuaki Hamada
	email = kazuaki.hamada@gree.net
[color]
	ui = auto
[alias]
    st = status
    co = checkout
    mylog = log --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    graph = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    today = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s' --since='18 hour ago'
