/tutorial/
/transient/
/straight/*
!/straight/versions/
/.cache/
/auto-save-list/
/speed-type/
/elpa/cl-lib-0.5/
/eshell/
/elpa/
/url/
/var/
/backups/
/company-statistics-cache.el
/elisp/multi-tramp-settings.el
/elisp/cl-lib.el
/projects
/custom.el
/flycheck_init.el
/ede-projects.el
/projectile.cache
/projectile-bookmarks.eld
/shellenv.el
/ac-comphist.dat
/twittering-mode.gpg
/bookmarks
/places
/tramp
/recentf
/history
/elscreen
/viper
/kkcrc
archive-contents/
archives/
.DS_Store
.mc-lists.el
.session
.lsp-session-v1
.emacs.desktop*
.dap-breakpoints
*.elc
