elpa/cl-lib-0.5/
eshell/
url/
auto-save-list/
archive-contents/
archives/
.DS_Store
.mc-lists.el
.session
flycheck_init.el
ede-projects.el
shellenv.el
ac-comphist.dat
twittering-mode.gpg
bookmarks
tramp
recentf
*.elc